body {
	font-family: 'Roboto', sans-serif;
	background: #dacbaf;
    overflow-x: hidden;
}

a {
	text-decoration: none;
	font-weight: 700;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.bomba2 {
	margin: 10px 20px 20px 20px;
	font-size: 30px;
	font-weight: bold;
}
.bomba {
	height: 70px;
	width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
	  max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
}

.content {
	margin: auto;
}

.basic-header {
	height: 100px;
	margin-bottom: 55px;
	background: #fff;
}

.basic-header .content {
	padding: 0;
}

.logo-picture {
	width: 211px;
	height: 62px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-bottom: 10px;
}

.basic-nav {
	position: relative;
	background: #61a723;
    background: -webkit-linear-gradient(top, #61a723 0%, #348e29 100%);
    background: linear-gradient(to bottom, #61a723 0%, #348e29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61a723', endColorstr='#348e29', GradientType=0);
	max-width: 100%;
	height: 50px;
	border-bottom: 1px solid #2f8c2a;
	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.3);
}

.nav-list {
	list-style: none;
	margin: auto;
    padding: 0px;
    font-size: 0;
    /*width: 1000px;*/
}

.list__item {
	position: relative;
	display: inline-block;
	font-size: 15px;
	color: #fff;

	padding: 15px 9px;
}

.list__item::before {
	content: '';
    width: 0;
    position: absolute;
    height: 32px;
    top: 8px;
    right: -2px;
    border-left: 1px solid #0f5e0e;
    border-right: 1px solid #4f984d;
}

.list__item::after {
	content: '';
    width: 0;
    position: absolute;
    height: 32px;
    top: 8px;
    right: -2px;
    border-left: 1px solid #0f5e0e;
    border-right: 1px solid #4f984d;
}

.breadcrumb {
	list-style: none;
	font-size: 0;
	padding-left: 0; 
	padding-top: 40px;
}

.breadcrumb__item {
	display: inline-block;
	font-size: 13px;
    
    margin-right: 10px;

}

.fake-link {
	position: relative;
	color: #2f8c2a;
	text-decoration: underline;
	margin-right: 10px;
}

.fake-link::after {
	content: ">";
	position: absolute;
	color: #2f8c2a;
	top: 0;
	right: -15px;
}

.content__left {
	width: 77.5%;
    float: left;
    background: #fff;
    padding: 0 5%;
    box-sizing: border-box;
}

.content__right {
	float: right;
    width: 20%;
    background: #fff;
    padding: 1%;
    box-sizing: border-box;
}
/*
.sidebar__picture {
	display: block;
	margin: auto;
	margin-top: 5px;
	height: 170px;
	width: 200px;
	border: 6px solid #2f8c2a;
}

.sidebar__item p {
	text-decoration: underline;
	margin: 5px 20px 35px 20px;
}
*/

.left-photo {
	float: left;
	margin-right: 20px;
}

.right-photo {
	float: right;
    margin-left: 20px;
    padding-top: 10px;
    width: 400px;
}

.text {
	font-size: 16px;
	line-height: 24px;
}

.second-title {
	text-align: center;
	font-size: 26px;
}

.btn {
	display: block;
	text-decoration: none;
	background: #f30010;
    margin: auto;
    width: 300px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    transition: 0.5s;
    margin-bottom: 20px;
}

.btn:hover {
	-webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}

.comment__name {
	font-weight: 700;
	font-style: italic;
	font-size: 15px;
}

.comment__block {
	margin-bottom: 25px;
}

.ava {
	float: left;
	margin-top: 17px;
}

.comment__text {
	float: left;
    width: 500px;
    margin-left: 20px;
}

.date {
	margin-left: 20px;
	font-weight: 400;
}

.basic-footer {
	background: #f3f9eb;
	height: 100px;
}

.footer__text {

	font-size: 13px;
    color: #555;
    padding-top: 50px;
    margin-left: 40px;
    text-align: left;
}
.copyright {
  text-align: center;
  padding: 20px;
}

@media screen and (min-width:320px) and (max-width:800px) {

  body {
  	background: #fff;
  }

  .content__right {
  	display: none;
  }

  .breadcrumb {
  display: none;
  }

  .basic-nav {
  	display: none;
  } 

  .content__left {
  	width: 100%;
    float: none;
    padding: 0 15px;
  }

  .basic-header {
  	margin-bottom: 0;
  }

  .left-photo {
  	float: none;
  	max-width: 100%;
    max-height: 350px;
  	display: block;
  	margin: 0 auto;

  } 

  .right-photo {
  	float: none;
  	max-width: 100%;
  	display: block;
  	margin: 0 auto;
    max-height: 350px;
  }

  .logo-picture {
  	margin: 0 auto;
  	display: block;
  	padding-top: 20px;
  }

  .basic-title {
  	text-align: center;
  	margin-top: 0;
  }

  .second-title {
    line-height: 30px;
  }

  .basic-footer {
  	display: none;
  }

  .comment__text {
    width: 100%;
    float: none;
    margin: 0;
  }

  .comment__text p {
  	margin: 0;
  }

  .comment__block {
  	border: 1px dotted #000;
    padding: 5px;
  }

  .btn {
  	width: 230px;
    font-size: 25px;
  	line-height: 30px;
  }

  p {
  	    
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .comments {
  	padding: 0 10px;
  }

  .ava {
    float: none;
    max-width: 100%;

  }

}

@media screen and (width:768px) {
	p {
    font-size: 16px;
    line-height: 24px;
	}

	.comment__name {
		font-size: 16px;
	}
}

